/* font icon */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "tailwindcss";

@theme{
  --font-family: "Roboto", sans-serif;
  --font-optical-sizing: auto;
  --font-weight: <weight>;
  --font-style: normal;
  --font-variation-settings: "wdth" 100;
}

#thankyou:target {
      display: flex;
    }


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 2s ease forwards;
}
